extends ../../layouts/default.pug

block main 
    h1 #{pageTitle}     

    div #{user.fullName}           
    div ----------------------
    div #{role.title}  
    each item in role.permissions   
        div #{item}           